body {
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  background-color: #e5e5e5;
}

.main_container {
  background: url('Group\ 6.png');
  background-size: cover;
  padding: 60px 20px;
  text-align: center;;
  color: white;
}

.main_container h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 300;
  letter-spacing: 2px;
}

.question_container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  height: 70px;
  padding: 0 10px;
  box-sizing: border-box;
}

.question_container input {
  width: 100%;
  padding: 12px 16px;
  font-size: 18px;
  border: none;
  outline: none;
  /* border-radius: 4px 0 0 4px; */
}

.question_container button {
  background-color: #c2d500;
  border: none;
  padding: 0px 16px;
  cursor: pointer;
  height: 46px;
}

.question_box {
  background-color: white;
  margin: 30px auto;
  padding: 20px 25px;
  border-radius: 6px;
  width: 600px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: relative;
}

.question_box h3 {
  font-weight: 400;
  margin-bottom: 15px;
}

.final_option {
  display: flex;
  align-items: center;
  margin: 80px;
  font-size: 16px;
}

.final_option input[type="radio"] {
  margin-right: 10px;
}

.option_area {
  display: flex;
}

.option_area input[type="text"] {
  flex: 1;
  padding-left: 2.5%;
}

.option_area button {
  cursor: pointer;
}

.question_box button.delete_btn {
  background: none;
  border: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  align-items: right;
}
